.appInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    transform: scale(1.2);
}

.appIcon {
    width: 130px;
    height: 130px;
    margin-right: 50px;
    border-radius: 15%;
}

.appName {
    font-size: 4em;
    color: #6a4b94;
    text-align: left;
}

.downloadButtons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 120px;
    transform: scale(1.2);
}

.downloadButton {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #6a4b94;
    font-size: 1.4em;
    font-style: italic; /* 设置字体样式为斜体 */
}

.downloadIcon {
    width: 40px;
    height: 40px;
    margin-right: 14px;
}
